@using System
@using System.Collections.Generic
@using System.Linq
@using O2.DotNetWrappers.ExtensionMethods
@using TeamMentor.CoreLib

@{
    var twoWeeksAgo = DateTime.Today.AddDays(-14).ToFileTimeUtc();
    var pageViewed = System.Web.HttpContext.Current.Request["page"];
    var max = System.Web.HttpContext.Current.Request["max"].toInt();
    if (max == 0) {
        max = 50;
    }

    var loggedInUsers = TM_UserData.Current.TMUsers.Where(x => x.UserActivities.Any(y => y.When > twoWeeksAgo));
    var pagesVisited = new List<string>();
    var inUsers = loggedInUsers as TMUser[] ?? loggedInUsers.ToArray();

    if (pageViewed == null)
    {
        foreach (var page in inUsers.SelectMany(user => user.UserActivities.Select(x => x.Detail).Where(page => !pagesVisited.Contains(page)))) {
            pagesVisited.add(page.ToLower());
        }
    }
    else
    {
        pagesVisited.add(pageViewed.ToLower());
    }
}

@{
    <h5>View History by Page</h5>
    <h6><a href="View_History_by_IP_Address">Views History by IP Address</a></h6>

    <ul>
        <table class="table table-striped table-condensed">
            @{ 
                var date = DateTime.MinValue; 
                var count = 0; 
            }
            @foreach (var userActivity in inUsers.SelectMany(x => x.UserActivities).Where(y => y.Action == "View Article Html" && pagesVisited.Contains(y.Detail.ToLower())).OrderByDescending(z => z.When)) 
            {
                if (userActivity.When.ToDate() != date)
                {
                    <tr>
                        <th>Page</th>
                        <th>User</th>
                        <th>@userActivity.When.ToDate().ToShortDateString()</th>
                        <th>IP Address</th>
                    </tr>

                    date = userActivity.When.ToDate();
                }                
                <tr>
                    <td><a href="View_History_by_Page?page=@userActivity.Detail">@userActivity.Detail</a></td>
                    <td><a href="User_Activities?userName=@userActivity.Who&max=@max">@userActivity.Who</a></td>
                    <td>@userActivity.When.ToDateTimeString()</td>
                    <td><a href="View_History_by_IP_Address?ipAddress=@userActivity.IPAddress">@userActivity.IPAddress</a></td>
                </tr>
                if (count++ > max) {
                    break;
                }
            }
        </table>
    </ul>
}

It's @DateTime.Now.ToLongTimeString()  on @DateTime.Now.ToLongDateString()
