 @using System
@using System.Collections.Generic
@using System.Globalization
@using System.Linq
@using O2.DotNetWrappers.ExtensionMethods
@using TeamMentor.CoreLib

@{
    var today = DateTime.Today.ToFileTimeUtc();
    var max = System.Web.HttpContext.Current.Request["max"].toInt();
    if (max == 0) {
        max = 50;
    }

    var loggedInUsers = TM_UserData.Current.TMUsers.Where(x => x.UserActivities.Any(y => y.When > today));
    var pagesVisited = new List<string>();
    var inUsers = loggedInUsers as TMUser[] ?? loggedInUsers.ToArray();
    foreach (var page in inUsers.SelectMany(user => user.UserActivities.Select(x => x.Detail).Where(page => !pagesVisited.Contains(page))))
    {
        pagesVisited.add(page);
    }
}

@{
    <h5>Pages Viewed by Users Currently Logged In</h5>

    <ul>
        <table class="table table-striped table-condensed">
            <tr>
                <th>Page</th>
                @foreach (var user in inUsers)
                {
                    <th>@user.UserName</th>
                }
            </tr> 
            @foreach (var page in pagesVisited.OrderBy(x => x))
            {
                <tr>
                    <td>@page</td>
                    
                    @foreach (var user in inUsers)
                    {
                        <td>@{
                                var capturedPage = page;
                                var views = user.UserActivities.Where(x => x.Detail == capturedPage && x.When > today);
                            }
                            <a href="User_Action_History_Filtered?action=&detail=@capturedPage&username=@user.UserName">@views.Count().ToString(CultureInfo.InvariantCulture).replace("0", string.Empty)</a>
                            </td>
                    }
                </tr>
            }
        </table>
    </ul>
}

It's @DateTime.Now.ToLongTimeString()  on @DateTime.Now.ToLongDateString()
