@using System
@using System.Linq
@using O2.DotNetWrappers.ExtensionMethods
@using TeamMentor.CoreLib

@{
    var weekAgo = DateTime.Today.AddDays(-7).ToFileTimeUtc();
    var username = System.Web.HttpContext.Current.Request.QueryString["username"];
    var detail = System.Web.HttpContext.Current.Request.QueryString["detail"];
    var action = System.Web.HttpContext.Current.Request.QueryString["action"];
    
    int[] displayCount = {0};
    var maxDisplayCount = System.Web.HttpContext.Current.Request["max"].toInt();

    if (username.trim() == string.Empty) { username = null; }
    if (detail.trim() == string.Empty) { detail = null; }
    if (action.trim() == string.Empty) { action = null; }
    
    if (maxDisplayCount == 0) {
        maxDisplayCount = 50;
    }

    var showingUsers = "Users: " + (username ?? "All");
    var showingActions = "Actions: " + (action ?? "All");
    var showingDetails = "Details: " + (detail ?? "All");
}

@{
    <h5>
        @showingUsers<br/>
        @showingActions<br/>
        @showingDetails<br/>
        <br/><a href="javascript:history.go(-1);">back</a><br/>
    </h5>

    <ul>
        <table class="table table-striped table-condensed">
            <tr>
                <th>Action</th>
                <th>Detail</th>
                <th>Who</th>
                <th>When</th>                        
                <th>IPAdress</th>  
            </tr> 
            @foreach (var login in TM_UserData
                .Current
                .TMUsers
                .First(x => x.UserName.Equals(username ?? x.UserName, StringComparison.InvariantCultureIgnoreCase))
                .UserActivities.Where(y => y.Action == (action ?? y.Action) && y.Detail == (detail ?? y.Detail))
                .OrderByDescending(z => z.When).TakeWhile(login => displayCount[0] <= maxDisplayCount))
            {
                <tr>
                    <td><a href="User_Action_History_Filtered?action=@login.Action&detail=@detail&username=@username">@login.Action</a> </td>
                    <td><a href="User_Action_History_Filtered?action=@action&detail=@login.Detail&username=@username">@login.Detail</a> </td>
                    <td><a href="User_Action_History_Filtered?action=@action&detail=@detail&username=@login.Who">@login.Who</a> </td>
                    <td>@login.When.ToDateTimeString() </td>
                    <td>@login.IPAddress </td>
                </tr>
                displayCount[0]++;  
            }
        </table>
    </ul>
}

It's @DateTime.Now.ToLongTimeString()  on @DateTime.Now.ToLongDateString()
